@import "~bootstrap/scss/bootstrap";

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checkbox-label {
    margin-left: 5px;
}

.checbox-my-post,
.btn-new-post {
    display: inline-block;
    width: 50%;
}

.btn-new-post {
    text-align: end;
}

.not-posts {
    font-size: 1.5em;
    text-align: center;
    margin-top: 45%;
}