@import "~bootstrap/scss/bootstrap";

.buttonForm {
    margin: 5px;
}

.error-login {
    color: red;
}

.title-form,
.error-login {
    text-align: center;
}

.title-form {
    margin-bottom: 20px;
}