@import "~bootstrap/scss/bootstrap";

.button-position {
    text-align: end;
}

.button-card {
    border: none;
    background-color: white;
    color: #007bff;
}

.button-card:hover {
    text-decoration: underline;
}

li {
    margin: 30px 0;
}

.date-card {
    font-size: 0.9em;
    color: #6c757d;
}

.title-card {
    cursor: pointer;
}